//- DEFINING reviewCard mixin below
//-Below reviewCard-> name of the mixin; reviewCard mixin below
mixin reviewCard(review)
	.reviews__card
		.reviews__avatar
			//- Below-> review.user.name = user's name who wrote this review for this specific tour
			img.reviews__avatar-img(src=`/img/users/${review.user.photo}`, alt=`${review.user.name}`)
			h6.reviews__user= `${review.user.name}`
			//-Just below is review description/text
		p.reviews__text= review.review 
		//- Below-> to display the actual rating in webpage, and so we have to display one of the below commented elements here for each of the no of stars that the review/rating has.
		//-contd.. So a five-star reviews need all of the five stars' code commented below But a four-star review only needs four of them(ie 4 stars) and then plus that we also want a grey star so basically to say 4 out of 5
		//-contd.. So what we're gonna do below is-> to print the amount of stars in a loop and coz there are five possible stars and so we loop from one to five. Then in each star we test if the tour rating is higher or equal to the current star and if so, we print a green star which stands for actual star and if not, it is a gray star which is actually an in-existent star for e.g. to show 3 out of 5
		//-contd.. And the difference b/w a green star and a gray star is that the green has the active modifier here(in below commented code-> svg.reviews__star.reviews__star--active) and the gray star has it set as inactive(in below commented code-> svg.reviews__star.reviews__star--inactive) and so we will change that(ie active to inactive in gray star) with a template string
		.reviews__rating
			each star in [1, 2, 3, 4, 5]
				//- Below e.g.-> lets say we have 3 stars out of 5 (ie 3/5 rating) , so in 1st iteration, star is 1 and this 1 is less than 3 and so the 1st star should be a green star and so thats y we put out here 'active' vch will then result in 'reviews__star--active' code And then the same process with the 2nd and 3rd star defined in above loop's array, and So at that/this point we have three green stars but the 4th and 5th one shud be gray and so in the 4th iteration of the loop, star = 4 and So the test(ie test of testing-> review.rating(3 here now) >= star(4 here now)) is 3 >= 4 which is false and so it's inactive and so that will then be a gray star and the exact same process for the last(5th) star as the 4th star. 
				//- below -> review.rating >= star ? 'active' : 'inactive' -> is JS CODE and '?' -> ternary operator -> alternative of if/else ; star -> current star in above loop
				svg.reviews__star(class= `reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
					use(xlink:href='/img/icons.svg#icon-star')
				//-Above's Loop ends now/here

		//- Below-> Commented code for stars of reviews/ratings which is created above in loop (ie above in-> each star in [1, 2, 3, 4, 5] )
		//- .reviews__rating
		//- 	svg.reviews__star.reviews__star--active
		//- 		use(xlink:href='/img/icons.svg#icon-star')
		//- 	svg.reviews__star.reviews__star--active
		//- 		use(xlink:href='/img/icons.svg#icon-star')
		//- 	svg.reviews__star.reviews__star--active
		//- 		use(xlink:href='/img/icons.svg#icon-star')
		//- 	svg.reviews__star.reviews__star--active
		//- 		use(xlink:href='/img/icons.svg#icon-star')
		//- 	svg.reviews__star.reviews__star--active
		//- 		use(xlink:href='/img/icons.svg#icon-star')